# Here you'll find all the settings currently available for the location.
# Any can be skipped. Can be in any order.

# Set to true if the location is able to change the lighting from day to night.
# if not, material must be set to "main_material.txt"
# if yes, materials must be set to "day_material.txt" and "night_material.txt"
AbleToChangeLight=false

# X Offset of the stage.
StageXOffset=0

# Y Offset of the stage.
StageYOffset=0

# Sets the zoom of the stage.
StageZoom=1

# Sets the ammount of cameras available for the stage. Default is 5.
# Instances where only 1 camera is needed are also acceptable.
NumCameras=5

# Set if the DCD will cycle the camera tweens randomly or sequentially.
IsCameraTweenSequential=false